.f-container {
  justify-content: space-around;
}
.f-left {
  gap: 1rem;
}
.f-menu {
  gap: 1.5em;
  margin-top: 1.5rem;
  font-weight: 500;
}
.f-right {
  justify-content: center;
}

@media (max-width: 768px) {
  .f-container {
    justify-content: center;
  }
  .f-right {
    justify-content: center;
    align-items: center;
  }
}
